@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@theme {
    --color-discord-primary: #36393e;
    --color-discord-secondary: #282b30;
    --color-discord-dark: #1e2124;

    --font-nunito: 'Nunito', sans-serif;
}

.glassy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), transparent);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    pointer-events: none;
}

.glass-taskbar {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(50, 50, 50, 0.4));
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
}

@keyframes pop {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    60% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-pop {
    animation: pop 0.5s ease-out forwards;
}

.fade-in {
    opacity: 1;
    transform: scale(1);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.fade-out {
    opacity: 0;
    transform: scale(0.95);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

@keyframes minimizeToFooter {
    0% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    80% {
        opacity: 1;
        transform: scale(0.6) translateY(70vh);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) translateY(80vh);
    }
}

@keyframes restoreFromFooter {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(80vh);
    }
    20% {
        opacity: 1;
        transform: scale(0.6) translateY(70vh);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.minimize {
    animation: minimizeToFooter 0.1s forwards;
}

.restore {
    animation: restoreFromFooter 0.1s forwards;
}
