@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@theme {
    --color-discord-primary: #36393e;
    --color-discord-secondary: #282b30;
    --color-discord-dark: #1e2124;

    --font-nunito: "Nunito", sans-serif; 
}